body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background: linear-gradient(90deg, rgba(75,78,162,1) 0%, rgba(225,68,68,1) 100%);
}
h1{
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}
.titleh1{
    font-size: 35px;
    margin: 40px 0px 0px 86px ;
}
.ligne{
    background-color: white;
    height: 1px;
    margin: 11px 86px 40px 86px ;
}
.box{
    background: #363333;
    border: none;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 30%);
    border-radius: 30px;
    transition: transform .3s;
    margin: 0px 86px 80px 86px ;
    padding: 10px 0px 0px 0px ;
}
.rondimg{
    border-radius: 100%;
    width: 170px;
    height: 170px;
    border: 3px solid rgb(219, 219, 219);
    text-align: center;    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 26px auto;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: white;
}
img{
    border-radius: 100%;
    width: 170px;
    height: 170px;
}
#uploadFile{
    margin: 0em 0em 2em 41.05em;
    color: white;
}
#heroName{
    margin: 15px;
    font-family: 'Permanent Marker', cursive;
    height: 16px;
    font-family: 'Permanent Marker';
    font-size: larger;
    width: 65em;
}
.data{
    background-color: rgb(94, 94, 94);
    color: white;
    border-radius: 20px grey;
    border: none;
}
#heroShortDescription{
    margin: 14px;
    width: 93em;
    font-size: small;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: rgb(163, 163, 163);
}
.fielddobname{
    background-color: rgb(94, 94, 94);
    border: rgb(175, 175, 175) solid 1px;
    border-radius: 22px;
    margin: 5px 40px ;
    height: 50px;
}
.fielddobshort{
    background-color: rgb(94, 94, 94);
    border: rgb(175, 175, 175) solid 1px;
    border-radius: 22px;
    margin: 10px 40px ;
    height: 40px;
}
.fielddobdescrip{
    background-color: rgb(94, 94, 94);
    border: rgb(175, 175, 175) solid 1px;
    border-radius: 22px;
    margin: 5px 40px ;
    height: 250px;
}
::placeholder {
    color: white;
  }
  input.data:focus{
    outline-width: 0;
  }
#heroDescription{
    height: 200px;
}
.ql-container.ql-snow {
    border: none;
}
.ql-toolbar.ql-snow {
    border: rgb(175, 175, 175) solid 1px;
    border-radius: 22px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}
#heroDescription {
    color: white;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.deuxbuttons{
    padding: 40px 506px;
}
.buttonun{
    background-color: #363333;
    border-radius: 14px;
    border: 2px solid #256aff;
    color: #256aff;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 155px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttondeux{
    background-color: #363333;
    border-radius: 14px;
    border: 2px solid #d10000;
    color: #d10000;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 155px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonun:hover {
    background-color: #256aff;
    color: white;
}
.buttondeux:hover{
    background-color: #d10000;
    color: white;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.rondimgsingle{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 26px auto;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(209, 209, 209);
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.shortDescription{
    font-size:small;
    color: rgb(163, 163, 163);
}
.divblanche{
    background-color: white;
    border-radius: 20px;
    height: 41px;
    /* width: 410px; */
}
p{
    margin: 20px 40px 20px 40px ;
}
